<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/stylesheet.css">
        <meta charset="utf-8">
    </head>

<body>

<div id="signersbycitycontainer">
        <div class="headbox">
            <div id="lefthead">
                <h1 class="boldh1">  SAVE THE BEES</h1>
            </div>
            <div id="righticonsmall">
                <a href="/thankyoupage"> CHANGE SIGNATURE</a>
                <a href="/editprofile">YOUR PROFILE</a>
                <a href="/loggedout">LOG OUT</a>

            </div>


        </div>


        <div id="contentbox">
            <div>
                <h2 class="lightsubhead">This is the list of signers for {{city}}</h2>
            </div>
            <div>
                <h2 class="lightsubhead">Total signers: {{length}}</h2>
            </div>

            <div class="listofsigners">

                {{#content}}
                        <div class="flexcol2">
                              {{#if homepage}}
                                <a href="{{homepage}}">{{first_name}} {{last_name}}, </a>
                              {{else}}
                                {{first_name}} {{last_name}}, 
                              {{/if}}
                        </div>

                          <div class="flexcol2">
                              {{#if age}}
                                [{{age}}]
                              {{/if}}
                        </div>
                {{/content}}
            </div>
        </div>
    </div>
</body>



</html>
