<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="utf-8">
    </head>
<body>
    <div id="profileeditorcontainer">
            <div class="headbox">
                <div id="lefthead">
                    <h1 class="boldh1">  SAVE THE BEES</h1>
                </div>
                <div id="righticonsmall">
                    <a href="/thankyoupage"> CHANGE SIGNATURE</a>
                    <a href="/viewsignatures">OTHER SIGNERS</a>
                    <a href="/loggedout">LOG OUT</a>

                </div>
            </div>

            <form  method="post">
            <div id="contentbox">
                    {{#content}}
                    <div class="formitem">
                        <input  type="text" name="first_name" placeholder= {{first_name}} value= {{first_name}}>
                    </div>
                    <div class="formitem">
                        <input  type="text" name="last_name" placeholder={{last_name}} value={{last_name}}>
                    </div>
                    <div class="formitem">
                        <input  type="text" name="email" placeholder={{email}} value={{email}}>
                    </div>
                    <div class="formitem">
                        <input type="password" name="password" placeholder="type new password here" >
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="formitem">
                        <input  type="text" name="age" placeholder={{age}} value={{age}}>
                    </div>
                    <div class="formitem">
                        <input  type="text" name="city" placeholder={{city}} value={{city}}>
                    </div>
                    <div class="formitem">
                        <input  type="text" name="homepage" placeholder="new url here" value=>
                    </div>
                    <div class="formitem">
                        <button class="loginbutton" type="submit">UPDATE</button>
                    </div>
                    {{/content}}
                </form>

            </div>
        </div>
    </body>
</html>
