<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="utf-8">

    </head>
    <body>
        <div id="viewsignaturescontainer">

            <div class="headbox">
                <div id="lefthead">
                    <h1 class="boldh1">  SAVE THE BEES</h1>
                </div>
                <div id="righticonsmall">
                    <a href="/thankyoupage"> CHANGE SIGNATURE</a>
                    <a href="/editprofile">YOUR PROFILE</a>
                    <a href="/loggedout">LOG OUT</a>

                </div>


            </div>


            <div id="signerscontentbox">
                <div class="formitem">
                    <h2 class="lightsubhead"> LIST OF {{ length }} PEOPLE WHO AGREE WITH YOU</h2>
                </div>

                <div class="listofsigners">

                        <div class="flexcolname">
                            {{#content}}
                                {{#if homepage}}
                                  <a href="{{homepage}}">{{first_name}} {{last_name}}</a>
                                {{else}}
                                  {{first_name}} {{last_name}}
                                {{/if}}

                                {{/content}}

                        </div>

                        <div class="flexcolage">
                            {{#content}}
                                {{#if age}}
                                  [{{age}}]
                                {{/if}}

                                {{/content}}
                        </div>

                        <div class="flexcolcity">
                            {{#content}}
                                {{#if city}}
                                   <a href="/viewsignatures/{{city}}">{{city}}</a>
                                {{/if}}

                                {{/content}}
                        </div>


                </div>
            </div>
        </div>
    </body>
</html>
